<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
		<link rel="icon" href="/images/logo-bhxh.svg">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Đăng kí</title>
      	<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
	integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js?fbclid=IwAR0qtqilxanSi8mF8obSrBu1m5HQpGIPO0huK1hUC23j_DeJuwZCfnPxYO0"></script>
	<style type="text/css">
.center {
	position: relative;
    margin-left: auto;
    margin-right: auto;
  /* width: 50%; */
  
  /* padding: 10px; */
}
.btn-width{
	width:198px;
}
.btn-position{
	margin-right:0
}

	</style>
</head>

<body class="sb-nav-fixed">
<div th:replace="/layout/header :: header"> </div>
 <div id="layoutSidenav_content">
    <div class="container my-5" style="margin-top: 60px !important;">
    				<div th:if="${param.success}">
						<div class="alert alert-info">Bạn đã đăng kí thành công</div>
						<script type="text/javascript">
						window.setTimeout(function() {
						    $(".alert.alert-info").fadeTo(500, 0).slideUp(500, function(){
						        $(this).remove(); 
						    });
						}, 2000);
						</script>
					</div>
        <h3>Khai báo thông tin cá nhân</h3>
   		<div class="card">
            <div class="card-body">
                <div class="col-md-10 center">
                    <form th:action="@{/canhan/add}" th:object="${caNhan}" method="post">
                    	<label style="margin-bottom: 1rem !important">Theo Nghị định số 166/2016/NĐ-CP ngày 24 tháng 12 năm 2016 của Chính phủ, cá nhân tôi có đủ các điều kiện sử dụng phương thức giao dịch điện tử. 
            	Cá nhân tôi đăng ký với cơ quan Bảo hiểm y tế, được sử dụng phương thức giao dịch điện tử trong lĩnh vực bảo hiểm y tế như sau:</label>
                    	<label>Họ tên</label>
            			<label style="margin-left: 49%">Số CMND</label>
                    	<div class="form-inline">
                		<input class="form-control" th:field="*{name}" type="text"  style="width: 45%;margin-bottom: 1rem" required="required">
						<div style="width: 10%;"></div>
                		<input class="form-control" th:field="*{soCMND}" type="number"  style="width: 45%;margin-bottom: 1rem" required="required" maxlength="11"
                			oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
						</div>
						
						<label>Mã BHXH</label>
						<input class="form-control" th:field="*{maBHXH}" type="text"  style="width: 45%;margin-bottom: 1rem" required="required" maxlength="10"
                				pattern="[0-9]{10}"
                                oninvalid="this.setCustomValidity('Mã BHXH có dạng 10 chữ số từ 0-9')"
  								oninput="this.setCustomValidity('')">
						
						<label>Giới tính</label>
            			<label style="margin-left: 47.5%">Ngày sinh</label>
                    	<div class="form-inline">
                    		<select class="form-control" th:field="*{gioiTinh}" type="text"  style="width: 45%;margin-bottom: 1rem" required="required" >
                				<option value="Nam">Nam</option>
                				<option value="Nữ">Nữ</option>
                			</select>
							<div style="width: 10%;"></div>
                			<input class="form-control" th:field="*{ngaySinh}" type="date"  style="width: 45%;margin-bottom: 1rem" required="required" >
						</div>
						
						<label>Số điện thoại</label>
            			<label style="margin-left: 43.5%">Email</label>
                    	<div class="form-inline">
                    		<input class="form-control" th:field="*{soDT}" type="text" maxlength="10" style="width: 45%;margin-bottom: 1rem" required="required" 
                    			 pattern="[0-9]{10}"
                                oninvalid="this.setCustomValidity('Số điện thoại có dạng 10 chữ số từ 0-9')"
  								oninput="this.setCustomValidity('')">
							<div style="width: 10%;"></div>
                			<input class="form-control" th:field="*{email}" type="text"  style="width: 45%;margin-bottom: 1rem" required="required"
                				pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*"
                                 oninvalid="this.setCustomValidity('Định dạng đúng: abc@gmail.com')"
  								 oninput="this.setCustomValidity('')">
						</div>
						
						<label>Thành phố</label>
            			<label style="margin-left: 45.5%">Quận/Huyện</label>
                    	<div class="form-inline">
                    		<select name="calc_shipping_provinces"  style="width: 45%;margin-bottom: 1rem"  class="form-control" id="thanhPho"  required>
                                 	<option value="">Tỉnh / Thành phố</option>
                            </select>
							<div style="width: 10%;"></div>
                			<select name="calc_shipping_district" style="width: 45%;margin-bottom: 1rem"  class="form-control" id="quan"  required>
                                 	<option value="">Quận / Huyện</option>
                            </select>
						</div>
							<input id="thanhpho1" type="hidden" th:field="*{thanhPho}"/> 
							<input id="quan1" type="hidden" th:field="*{quan}"/> 
							
						<label>Địa chỉ</label>
            			<label style="margin-left: 49%">Nơi đăng kí khám chữa bệnh ban đầu</label>
                    	<div class="form-inline">
                    		<input class="form-control" th:field="*{diaChi}" type="text"  style="width: 45%;margin-bottom: 1rem" required="required" >
							<div style="width: 10%;"></div>
                			<select th:field="*{noiKCB}" style="width: 45%;margin-bottom: 1rem"  class="form-control"   required>
                                 	<option value="Phòng khám 107 Tôn Đức Thắng">Phòng khám 107 Tôn Đức Thắng</option>
                                 	<option value="Phòng khám đa khoa Lĩnh Nam">Phòng khám đa khoa Lĩnh Nam</option>
                                 	<option value="Phòng khám đa khoa KV Nghĩa Tân">Phòng khám đa khoa KV Nghĩa Tân</option>
                                 	<option value="Trạm y tế phường Dịch Vọng">Trạm y tế phường Dịch Vọng</option>
                                 	<option value="Phòng khám đa khoa 103 Bà Triệu">Phòng khám đa khoa 103 Bà Triệu</option>
                                 	<option value="Phòng khám đa khoa 26 Lương Ngọc Quyến">Phòng khám đa khoa 26 Lương Ngọc Quyến</option>
                                 	<option value="Trung tâm cấp cứu 115">Trung tâm cấp cứu 115</option>
                                 	<option value=" Trung tâm y tế Quận Thanh Xuân">	 Trung tâm y tế Quận Thanh Xuân</option>
                                 	<option value="Trạm y tế phường Long Biên">Trạm y tế phường Long Biên</option>
                                 	<option value="Phòng khám 695 Lạc Long Quân ">Phòng khám 695 Lạc Long Quân </option>
                                 	<option value="Trạm y tế phường Yên Phụ">Trạm y tế phường Yên Phụ</option>
                                 	<option value="	Trạm y tế phường Đại Mỗ">Trạm y tế phường Đại Mỗ</option>
                            </select>
						</div>
							<br>
							<label>
				<input type="checkbox" style="width: 1.3rem;height: 1.3rem;" id="check"> 
				Tôi cam kết hoàn toàn chịu trách nhiệm trước pháp luật về tính chính xác, 
				trung thực của nội dung nêu trên và thực hiện giao dịch điện tử trong lĩnh vực bảo hiểm y tế theo đúng quy định của pháp luật.
				</label>	<br> <br>
                       
							 <div class="col-md-6 center">
                            <div class=" form-group  center ">
                                <input id="btncheck" type="submit" class="btn btn-primary btn-width" value="Đăng kí" onmouseover="save1()">
                               <a href="/">
                                	<input type="button" class="btn btn-secondary btn-width btn-position" value="Quay lại">
                                </a>  
                            </div>        
                            </div>
                            
                            
                            
                            
							<script type="text/javascript">
								function save1(){
									
									document.getElementById("quan1").value=document.getElementById("quan").value;
									var sel=document.getElementById("thanhPho");
									var text= sel.options[sel.selectedIndex].text;
									document.getElementById("thanhpho1").value=text;
								}
								$('#check').change(function () {
								    $('#btncheck').prop("disabled", !this.checked);
								}).change()
							</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js"></script>
	<script>//<![CDATA[
	if (address_2 = sessionStorage.getItem('address_2_saved')) {
	  $('select[name="calc_shipping_district"] option').each(function() {
	    if ($(this).text() == address_2) {
	      $(this).attr('selected', '')
	    }
	  })
	  $('input.billing_address_2').attr('value', address_2)
	}
	if (district = sessionStorage.getItem('district')) {
	  $('select[name="calc_shipping_district"]').html(district)
	  $('select[name="calc_shipping_district"]').on('change', function() {
	    var target = $(this).children('option:selected')
	    target.attr('selected', '')
	    $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
	    address_2 = target.text()
	    $('input.billing_address_2').attr('value', address_2)
	    district = $('select[name="calc_shipping_district"]').html()
	    sessionStorage.setItem('district', district)
	    sessionStorage.setItem('address_2_saved', address_2)
	  })
	}
	$('select[name="calc_shipping_provinces"]').each(function() {
	  var $this = $(this),
	    stc = ''
	  c.forEach(function(i, e) {
	    e += +1
	    stc += '<option value=' + e + '>' + i + '</option>'
	    $this.html('<option value="">Tỉnh / Thành phố</option>' + stc)
	    if (address_1 = sessionStorage.getItem('address_1_saved')) {
	      $('select[name="calc_shipping_provinces"] option').each(function() {
	        if ($(this).text() == address_1) {
	          $(this).attr('selected', '')
	        }
	      })
	      $('input.billing_address_1').attr('value', address_1)
	    }
	    $this.on('change', function(i) {
	      i = $this.children('option:selected').index() - 1
	      var str = '',
	        r = $this.val()
	      if (r != '') {
	        arr[i].forEach(function(el) {
	          str += '<option value="' + el + '">' + el + '</option>'
	          $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>' + str)
	        })
	        var address_1 = $this.children('option:selected').text()
	        var district = $('select[name="calc_shipping_district"]').html()
	        sessionStorage.setItem('address_1_saved', address_1)
	        sessionStorage.setItem('district', district)
	        $('select[name="calc_shipping_district"]').on('change', function() {
	          var target = $(this).children('option:selected')
	          target.attr('selected', '')
	          $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
	          var address_2 = target.text()
	          $('input.billing_address_2').attr('value', address_2)
	          district = $('select[name="calc_shipping_district"]').html()
	          sessionStorage.setItem('district', district)
	          sessionStorage.setItem('address_2_saved', address_2)
	        })
	      } else {
	        $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>')
	        district = $('select[name="calc_shipping_district"]').html()
	        sessionStorage.setItem('district', district)
	        sessionStorage.removeItem('address_1_saved', address_1)
	      }
	    })
	  })
	})
	//]]></script>


                       
                    </form>
                </div>
            </div>
            </div>
        </div>   
        
    </div>
    
    
    
</body>

</html>